# Dependencies
node_modules/

# Build output
dist/
.vite/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Vercel
.vercel

.env
